body {
    background-color: palegoldenrod;
}

/*.lenta {
    width: 700px;
    height: 500px;
}*/
body {
    width: 960px;
    height: 100%;
    margin: 0 auto;
}

.stulpelis {
    width: 100px;
    height: 100px;
    background-color: White;
    display: inline-block;
}

.stulpelis1 {
    width: 100px;
    height: 100px;
    background-color: Blue;
    display: inline-block;
}

.stulpelis2 {
    width: 100px;
    height: 100px;
    background-color: Green;
    display: inline-block;
}

.stulpelis3 {
    width: 100px;
    height: 100px;
    background-color: Red;
    display: inline-block;
}

.stulpelis  {
    width: 100px;
    height: 100px;
    /*background-color: Black;*/
    display: table-cell;
}


.juoda {
    background-color: black !important;
}

#R2D2 {
    width: 100px;
    height: 100px;
    background: url("/img/rob.png");
    background-size: contain;
    background-repeat: no-repeat;
    top: 2px;
    position: relative;
}

#info{
    float: right;
}